@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap');
body {
  font-family: "Noto Sans JP";
  font-size: "25px";
  text-align: center;
  background: linear-gradient(-45deg, 	#080a3f, #01263f, #0e384b, #0b3243, #0c242b);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
header{text-align: left; color: #FFF;}
.container {
  margin-top: 10%;
  font-family: "Noto Sans JP";
  font-size: "50px";
  color: #FFF;
}
.container p{font-size: 50px; margin-bottom: 2px;}
#iurl {
background-color: inherit;
width: 100%;
height: 28px;
border: solid 1px #FFF;
font-family: "Roboto";
font-size: 16px;
color: #eee;
padding: 8px 0px;
margin-bottom: 5px;
box-sizing: content-box;
text-align: center;
border-radius: 2px;
}
#btn {
background-color: inherit;
width: 100%;
height: 28px;
border: solid 1px #0066ff;
font-family: "Roboto";
font-size: 16px;
color: #0066ff;
padding: 10px 0px;
box-sizing: content-box;
transition: 0.3s;
border-radius: 12px;
}
#btn:hover {
background: #0066ff;
color: #fff;
box-shadow: 0 0 20px grey;
transition: all .2s ease-in-out; 
}
.container a {
height: 20px;
background: inherit;
color: #ddd;
border: 0;
cursor: pointer;
font-family: "Roboto";
font-size: 17px;
transition: 0.3s;
}
.container a:hover{font-size: 23;}
.url{width: 300px; margin: auto;}
@keyframes gradient {
0% {background-position: 0% 50%;}
50% {background-position: 100% 50%;}
100% {background-position: 0% 50%;}
}
.topnav {
  background-color: #333;
  overflow: hidden;
  border: 3px solid black;
  border-radius: 50px;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-right: 1px solid #bbb;
}
#last {
  border-right: none;
  border-left: 1px solid #bbb;
  float: right;
}
#fL{border-radius: 0px 0px 23px 23px;}
.topnav .icon{display: none; border-right: none;}
.dropdown {
  float: left;
  overflow: hidden;
  border-right: 1px solid #bbb;
}
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 2px solid #aaa;
  border-radius: 0px 0px 25px 25px;
  border-top: none;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 24px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-right: none;
}
.topnav a:hover, .dropdown:hover .dropbtn{background-color:#222; color: white;}
.dropdown-content a:hover {background-color: #ddd; color: black;}
.dropdown:hover .dropdown-content{display: block;}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon{float: right; display: block;}
}
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
.grow{transition: all .2s ease-in-out; }
.grow:hover{transform: scale(1.1);}
.active {background-color: #04AA6D; color: white;}